* { box-sizing: border-box;}

body { 
	background-color: #e6f7ed ;
	color: #34495e;
}


.container {
	display: block;
	text-align: center;
	width: 65%;
	margin: 0 auto;
	padding-top: 50px;
}

.header h1 {
	margin-bottom: 20px;
	margin-top: 20px ;
}

.col-md-4, .cold-xs-6 {
	padding: 3% 3%;
}

.image-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.row p {
	font-size: 100%;
}